{
    "extends": "xo",
    "parser": "babel-eslint",
    "plugins": ["flowtype"],
    "rules": {
        "indent": ["error", 2],
        "comma-dangle": ["error", "always-multiline"],
        "object-curly-spacing": ["error", "always"],
        "no-mixed-operators": 0,
        "no-implicit-coercion": 0,
        "no-negated-condition": 0,
        "capitalized-comments": 0,
        "yoda": 0,
        "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
        "flowtype/define-flow-type": 1,
        "flowtype/use-flow-type": 1,
    },
    "globals": {
        "atom": false,
        "document": false,
        "window": false,
        "navigator": false,
        "requestAnimationFrame": false,
    }
}
